{{template "base" .}}
	{{define "content"}}
		<div class="container mx-auto max-w-[1200px] pt-6">
			<h1 class="text-5xl">This is the home page!</h1>
			<p class="text-bold">This is a test paragraph</p>
			<a class="py-2 px-4 bg-zinc-300" href="/about">About</a>
			<img src="/static/images/aihouse4.png" alt="it's just a house...">
		</div>
	{{end}}